workflows/google_sync.json
{
  "name": "Google Sync",
  "nodes": [
    {
      "parameters": {},
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "google-sync",
      "httpMethod": "POST",
      "path": "google-sync",
      "authentication": "jwt",
      "credentials": {
        "jwtAuth": {
          "name": "JWT Auth"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const creds = $json[\"oauth\"]?.google;\nif (!creds) {\n  throw new Error('Missing Google credentials');\n}\nreturn [{ json: { creds } }];"
      },
      "name": "Parse OAuth",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_SPREADSHEET_ID",
        "range": "Sheet1!A1",
        "values": "={{ $json[\"creds\"]?.userData }}"
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets OAuth"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parse OAuth", "type": "main", "index": 0 }]]
    },
    "Parse OAuth": {
      "main": [[{ "node": "Google Sheets", "type": "main", "index": 0 }]]
    }
  }
}
