workflows/upload_to_drive.json
{
  "name": "Upload to Drive",
  "nodes": [
    {
      "id": "1",
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-to-drive"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [260, 300],
      "webhookId": "upload-to-drive",
      "authentication": "jwt",
      "credentials": {
        "jwtAuth": {
          "name": "JWT Auth account"
        }
      }
    },
    {
      "id": "2",
      "parameters": {
        "functionCode": "const google = $json?.oauth?.google;\nconst file = $json?.file;\n\nif (!google) throw new Error('Missing Google OAuth credentials');\nif (!file) throw new Error('Missing file data in request');\n\nreturn [\n  {\n    json: {\n      access_token: google.access_token,\n      refresh_token: google.refresh_token,\n      expiry_date: google.expiry_date,\n      token_type: google.token_type,\n      file\n    }\n  }\n];"
      },
      "name": "Parse OAuth & File",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [520, 300]
    },
    {
      "id": "3",
      "parameters": {
        "operation": "upload",
        "binaryData": false,
        "fileName": "={{ $json.file.name }}",
        "fileContent": "={{ $json.file.content }}",
        "options": {}
      },
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [800, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse OAuth & File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OAuth & File": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "upload_drive_workflow",
  "version": 2,
  "meta": {},
  "pinData": {}
}
